                    body {
                        background-image: url('./photos/kunolu.png');
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size: 100% 100%;
                    }
                    
                    h1 {
                        color: blue;
                        text-shadow: 2px 2px 1px red;
                    }
                    
                    h6 {
                        color: red;
                        text-shadow: 2px 2px 1px blue;
                    }
                    
                    h3 {
                        color: blue;
                    }
                    
                    p {
                        font-family: Times New Roman;
                        font-size: 20px;
                        color: purple;
                    }
                    
                    ol {
                        color: white;
                    }
                    
                    textarea {
                        width: "100%";
                    }
                    
                    table {
                        color: purple;
                        align-content: center;
                    }
                    
                    .container {
                        text-align: center;
                        display: inline-block;
                        margin: 5px;
                        padding: 10px;
                        background-color: none;
                        color: #333;
                        font-size: 30;
                        text-decoration: none;
                        border-radius: 5px;
                    }
                    
                    .container {
                        text-align: center;
                    }
                    
                    * {
                        padding: 0%;
                        margin: 0%;
                    }
                    
                    .logo {
                        color: aquamarine
                    }
                    
                    .main {
                        width: 100%;
                        background: liner-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(c.jpg);
                        background-position: center;
                        background-size: cover;
                        height: 109 vh;
                    }
                    
                    .logo {
                        position: fixed;
                        bottom: 0;
                        width: 100%;
                        text-align: center;
                        color: red;
                        text-shadow: 2px 2px 4px blue;
                    }
                    
                    .home:hover {
                        background-color: rgb(59, 35, 35);
                        font-size: 20px;
                        transition-property: color, font-size;
                        transition-duration: 2ms, 0ms;
                    }
                    /*to make the buttton zoom in and change colors*/
                    
                    .au:hover {
                        background-color: rgb(196, 106, 106);
                        font-size: 20px;
                        transition-property: color, font-size;
                        transition-duration: 2ms, 0ms;
                    }
                    /*to make the buttton zoom in and change colors*/
                    
                    .ci:hover {
                        background-color: rgb(131, 37, 37);
                        font-size: 20px;
                        transition-property: color, font-color;
                        transition-duration: 2ms, 0ms;
                    }
                    /*to make the buttton zoom in and change colors*/
                    
                    .credit:hover {
                        background-color: blueviolet;
                        font-size: 20px;
                        transition-property: color, font-size;
                        transition-duration: 2ms, 0ms;
                    }
                    /*to make the buttton zoom in and change colors*/
                    
                    .his:hover {
                        background-color: royalblue;
                        font-size: 20px;
                        transition-property: color, font-size;
                        transition-duration: 2ms, 0ms;
                    }
                    /*to make the buttton zoom in and change colors*/
                    
                    button {
                        transition: background-color 0.5s ease;
                    }
                    
                    @keyframes col_example {
                        from {
                            color: blue;
                        }
                        to {
                            color: RED;
                        }
                    }
                    
                    button {
                        animation-name: col_example;
                        animation-duration: 10s;
                    }